<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminapprove</title>
</head>
<body>
   
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title >Admin Approve</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/profilestyle.css" type="text/css" media="screen, projection, tv" />
<link rel="stylesheet" href="css/profilesty_prnt.css" type="text/css" media="print" />
</head>
<body>
<div id="wrapper">
  <div class="title">
    <div class="title-top">
      <div class="title-left">
        <div class="title-right">
          <div class="title-bottom">
            <div class="title-top-left">
              <div class="title-bottom-left">
                <div class="title-top-right">
                  <div class="title-bottom-right">
                    <h1 ><a href="http://all-free-download.com/free-website-templates/"><div id="name"></div></a></h1>
                    
                    <p id="sid">Approve Shops</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="noscreen" />
  <div class="content">
    <div class="column-left">
     
      <a href="#skip-menu" class="hidden">Skip menu</a>
      <ul class="menu">
        
        
        <li class="last"><div id="total"></div></li>
      </ul>
    </div>
    <div id="skip-menu"></div>
    <div class="column-right">
      <div class="box">
        <div class="box-top"></div>
        <div class="box-in">
          <h1>Approval Page</h1>
    {{#each d}}
      
       <p>Shop :{{this.SHOP_NAME}}</p>
       
        <p>Tran_id :{{this.TRN_ID}}</p>
       <form action="http://localhost:8080/sregister" method="post">
      
               
               
            <input type="hidden" id="custId" name="name" value="{{this.SHOP_NAME}}">
            <input type="hidden" id="bId" name="mail" value="{{this.EMAIL}}">
            <input type="hidden" id="shopId" name="street" value="{{this.STREET}}">
            <input type="hidden" id="price" name="thana" value="{{this.THANA}}">
            <input type="hidden" id="price" name="pcode" value="{{this.PCODE}}">
            <input type="hidden" id="price" name="dist" value="{{this.DIST}}">
            <input type="hidden" id="price" name="username" value="{{this.USERNAME}}">
            <input type="hidden" id="price" name="pass" value="{{this.PASS}}">
            <input type="hidden" id="price" name="contact" value="{{this.CONTACT_NO}}">
            <input type="hidden" id="price" name="des" value="{{this.DESCRIPTION}}">
            <input type="hidden" id="price" name="shopid" value="{{this.T_SHOP_ID}}">
            <input type="submit" class="add-to-cart btn btn-default" value="Add shop">
                
        </form>
        

    {{/each}}
          
          <br />
          
          <div id="address"></div>
          
        </div>
      </div>
      
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
</div>
<div align=center> <a href='http://all-free-download.com/free-website-templates/'></a></div>

<script>
    /*async function fn(){
        const option={
                method:'GET'
            };

            const url="http://localhost:8080/customerinfo?id={{d}}";
            const res= await fetch(url,option);
            const myob= await res.json();
            console.log(myob);
            var p=document.createElement('p');
            p.innerHTML=myob[0].NAME
            document.getElementById('name').appendChild(p);

            document.getElementById('uid').value={{d}};

            

    }
    var m=fn();*/

</script>
</body>
</html>

</body>
</html>