<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Peekabook</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />


	<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/functions.js"></script>

	

</head>
<body>
	<!-- Header -->
	<div id="header" class="shell">
		<div ><h1><a href="#">Peekabook</a></h1><span><a href="#"></a></span></div>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="http://localhost:8080/peekabook" class="active">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="http://localhost:8080/login">Log in </a></li>
				<li><a href="http://localhost:8080/login">Sign up</a></li>
				<li><a href="about.hbs">About Us</a></li>
				<li><a href="contact.hbs">Contacts</a></li>
				<li>
					<p>Search:</p>
					<form action="http://localhost:8080/searchbyname" method="post">
					<input name ="bookname" type="text" class="" placeholder="Book name"  />
						
					
						<input  id ='sub_btn' type="submit"  value="search" />
					</form>
				</li>	
			</ul>
			

		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
		<div id="login-details">
			<p>Welcome, Guest</p>
			
		</div>
		<!-- End Login-details -->
	</div>
	<!-- End Header -->
	<!-- Slider -->
	<div id="slider">
		<div class="shell">
			<ul>
				<li>
					<div class="image">
						<img src="css/images/bookshop.jpg" alt="" />
					</div>
					<div class="details">
						<h2>Peekabook</h2>
						<h3>Special Offers</h3>
						<p>Open account it's free</p>
						<a href="#" class="read-more-btn">Read More</a>
					</div>
				</li>
				
				
				
			</ul>
			<div class="nav">
			
				
			</div>
		</div>
	</div>
	<!-- End Slider -->
	<!-- Main -->
	<div id="main" class="shell">
		<!-- Sidebar -->
		<div id="sidebar">
			<ul >
				<li>
					<h4> <a href="#">Categories</a>
						</h4>
					<ul>
						<li><a href="http://localhost:8080/bookcat?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&gn=HORROR">Horror</a></li>
						<li><a href="http://localhost:8080/bookcat?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&gn=FICTION">Fiction</a></li>
						<li><a href="http://localhost:8080/bookcat?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&gn=ADVENTURE">Adventure</a></li>
						<li><a href="http://localhost:8080/bookcat?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&gn=NOVEL">Novel</a></li>
						<li><a href="http://localhost:8080/bookcat?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&gn=LITERATURE">Literature</a></li>
						<li><a href="http://localhost:8080/bookcat?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&gn=WAR">War</a></li>
						<li><a href="http://localhost:8080/bookcat?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&gn=SCIENCE">Science</a></li>
					</ul>
				</li>
				<li>
					<h4><a href="">Authors</a></h4>
					<ul id='authors'>
						
						
					</ul>
				</li>
			</ul>
		</div>
		<!-- End Sidebar -->
		<!-- Content -->
		<div id="content">
			<!-- Products -->
			<div class="products">
				<h3>Featured Shops</h3>
				<ul id='books'>
					
					
				</ul>
			<!-- End Products -->
			</div>
			<div class="cl">&nbsp;</div>
			<!-- Best-sellers -->
			<div id="best-sellers">
				<h3>Best Sellers</h3>
				<ul>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best01.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>35<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best02.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>45<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best03.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>15<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best04.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>27<span class="high">99</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best01.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>35<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best02.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>45<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best03.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>15<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="#">
								<img src="css/images/image-best04.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">$</span>27<span class="high">99</span></span>
							</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- End Best-sellers -->
		</div>
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div>
	<!-- End Main -->
	<!-- Footer -->
	<div id="footer" class="shell">
		<div class="top">
			<div class="cnt">
				<div class="col about">
					<h4>About BestSellers</h4>
					<p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />Curabitur gravida pretium tincidunt.  </p>
				</div>
				<div class="col store">
					<h4>Store</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Special Offers</a></li>
						<li><a href="#">Log In</a></li>
						<li><a href="#">Account</a></li>
						<li><a href="#">Basket</a></li>
						<li><a href="#">Checkout</a></li>
					</ul>
				</div>
				<div class="col" id="newsletter">
					<h4>Newsletter</h4>
					<p>Lorem ipsum dolor sit amet  consectetur. </p>
					
				</div>
				<div class="cl">&nbsp;</div>
				
			</div>
		</div>
	</div>
	<!-- End Footer -->

	<button ></button>

	<script>

        async function fn(){
            const option={
                method:'GET'
            };
            const url="http://localhost:8080/shops";
            const res= await fetch(url,option);
            const myob= await res.json();
            console.log(myob);
            let p=document.createElement('p');
            
            for(let i =0;i<myob.length;i++){

				//var obj='{"book_id":myob[i].name,"user":"{{d.name}}"}';
				//console.log(obj);
                var q=document.createElement('p');
                var st='<li><div class="product"><a href="http://localhost:8080/selected?user={{d.FIRST_NAME}}&u_id={{d.CUSTOMER_ID}}&shopid='+myob[i].SHOP_ID+'&shopname='+myob[i].SHOP_NAME+'"class="info"><span class="holder"><img src="css/images/bookshop.jpg" alt="" /><span class="book-name">'+myob[i].SHOP_NAME+'</span><span class="author">'+'</span><span class="description"><br /></span></span></a></div></li>';
                q.innerHTML=st ;
                //q.innerHTML=j;
                /*
                   
                */
                document.getElementById('books').appendChild(q);
            }


			
            /*const url2="http://localhost:8080/authors";
            const res2= await fetch(url2,option);
            const myob2= await res2.json();
            console.log(myob2);
			for(let i=0;i<myob2.length;i++){
				var q=document.createElement('p');
				q.innerHTML='<li><a href="#">'+myob2[i].name+'</a></li>';
				document.getElementById('authors').appendChild(q);

			}*/


        } 
        var m=fn();


		

	</script>

</body>
</html>