<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>shop</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/functions.js"></script>

	

</head>
<body>
	<!-- Header -->
	<div id="header" class="shell">
		<div><h1><a href="#">{{s.shopname}}</a></h1><span><a href="#"></a></span></div>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li></li>
			
				<li><a href="http://localhost:8080/custhome?id={{s.u_id}}">Profile</a></li>
				<li><a href="about.hbs">About Us</a></li>
				<li><a href="contact.hbs">Contacts</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
		<div id="login-details">
			<p>Welcome, <a href="#" id="user">{{s.user}}</a> </p><p></p>
		</div>
		<!-- End Login-details -->
	</div>
	<!-- End Header -->
	<!-- Slider -->
	<div id="slider">
		<div class="shell">
			<ul>
				<li>
					<div class="image">
						<img src="css/images/books.png" alt="" />
					</div>
					<div class="details">
						<h2>{{s.shopname}}</h2>
						<h3>Special Offers</h3>
						<p class="title">Special Offers</p>
						<p class="description">On various occasion you'll get WONDERfull offers</p>
						<a href="#" class="read-more-btn">Read More</a>
					</div>
				</li>
				
				
			</ul>
			<div class="nav">
			</div>
		</div>
	</div>
	<!-- End Slider -->
	<!-- Main -->
	<div id="main" class="shell">
		<!-- Sidebar -->
		<div id="sidebar">
			<h1>Welcome to<br> {{s.shopname}}</h1>
		</div>
		<!-- End Sidebar -->
		<!-- Content -->
		<div id="content">
			<!-- Products -->
			<div class="products">
				<h3>Featured books</h3>
				<ul id='books'>
					<!-- fro loooopppppppksjdkakjasd -->
					
				</ul>
			<!-- End Products -->
			</div>
			<div class="cl">&nbsp;</div>
			<!-- Best-sellers -->
			<div id="best-sellers">
				
				
			</div>
			<!-- End Best-sellers -->
		</div>
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div>
	<!-- End Main -->
	<!-- Footer -->
	<div id="footer" class="shell">
		<div class="top">
			<div class="cnt">
				<div class="col about">
					
				</div>
				<div class="col store">
					<h4>Store</h4>
					<ul>
						
					</ul>
				</div>
				<div class="col" id="newsletter">
					
				</div>
				<div class="cl">&nbsp;</div>
				
			</div>
		</div>
	</div>
	<!-- End Footer -->

	<button ></button>

	<script>

        async function fn(){
            const option={
                method:'GET'
            };
            const url="http://localhost:8080/books?sid={{s.shopid}}";
            const res= await fetch(url,option);
            const myob= await res.json();
            console.log(myob);
            let p=document.createElement('p');
            
            for(let i =0;i<myob.length;i++){

				//var obj='{"book_id":myob[i].name,"user":"{{d.name}}"}';
				//console.log(obj);
                var q=document.createElement('p');
                var st='<li><div class="product"><a href="http://localhost:8080/bookdetail?user={{s.user}}&u_id={{s.u_id}}&sid={{s.shopid}}&bookid='+myob[i].BOOK_ID+'&price='+myob[i].PRICE_PER_BOOK+'"class="info"><span class="holder"><img src="css/images/book_new.png" alt="" /><span class="book-name">'+myob[i].BOOK_NAME+'</span><span class="author">'+'</span><span class="description"><br /></span>'+myob[i].PRICE_PER_BOOK+'</span></a></div></li>';
                q.innerHTML=st ;
                //q.innerHTML=j;
                /*
                   
                */
                document.getElementById('books').appendChild(q);
            }


			
           


        } 
        var m=fn();


		

	</script>

</body>
</html>