<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title >cart</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/profilestyle.css" type="text/css" media="screen, projection, tv" />
<link rel="stylesheet" href="css/profilesty_prnt.css" type="text/css" media="print" />
</head>
<body>
<div id="wrapper">
  <div class="title">
    <div class="title-top">
      <div class="title-left">
        <div class="title-right">
          <div class="title-bottom">
            <div class="title-top-left">
              <div class="title-bottom-left">
                <div class="title-top-right">
                  <div class="title-bottom-right">
                    <h1 ><a href="http://all-free-download.com/free-website-templates/"><div id="name"></div></a></h1>
                    <p>{{d}}</p>
                    <p id="sid">Cart</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="noscreen" />
  <div class="content">
    <div class="column-left">
     
      <a href="#skip-menu" class="hidden">Skip menu</a>
      <ul class="menu">
        <li><a href="http://localhost:8080/custhome?id={{d}}" class="active">My Profile</a></li>
        
        <li class="last"><div id="total"></div></li>
      </ul>
    </div>
    <div id="skip-menu"></div>
    <div class="column-right">
      <div class="box">
        <div class="box-top"></div>
        <div class="box-in">
          <h2>Cart</h2>
          <div id="des"></div>
          {{#each cd}}

            

                <h3>BOOK :{{this.BOOK_NAME}}</h3>
                <p>price :{{this.PRICE_PER_BOOK}}</p>
                <p>shop :{{this.SHOP_NAME}}</p>
                <p>user :{{this.CUSTOMER_ID}}</p>
                <br>
                <div>

                    <form action="http://localhost:8080/createorder" method="post">
            
                    
                    
                    <input type="hidden" id="uid" name="uid" value="{{this.CUSTOMER_ID}}">
                    <input type="hidden" id="bId" name="bid" value="{{this.BOOK_ID}}">
                    <input type="hidden" id="bId" name="price" value="{{this.PRICE_PER_BOOK}}">
                    <input type="hidden" id="bId" name="sid" value="{{this.SHOP_ID}}">
                    <p>Parcel Address</p>
                    <input class="text" type="text" name="qntyty" placeholder="Quantity" required="">
                    <input class="text" type="text" name="dist" placeholder="District" required="">
                    <input class="text" type="text" name="thana" placeholder="Thana" required="">
                    <input class="text" type="text" name="street" placeholder="Street" required="">
                    <input class="text" type="text" name="pcode" placeholder="Postal code" required="">
                    <input class="text" type="text" name="trn_id" placeholder="Transaction Id" required="">
                    <br>
                    <input type="submit" class="btn btn-default" value="BUY">

                </form>
              
                 <form action="http://localhost:8080/clearcart" method="post">
            
                    
                    
                    <input type="hidden" id="uid" name="uid" value="{{this.CUSTOMER_ID}}">
                    <input type="hidden" id="bId" name="bid" value="{{this.BOOK_ID}}">
                    
        
                    <br>
                    <input type="submit" class="btn btn-default" value="delete">

                </form>

                </div>
                


           
      
                
                        
                
                <br>
                <br>

            {{/each}}
          
          <br />
          
          <div id="address"></div>
          
        </div>
      </div>
      
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
</div>
<div align=center> <a href='http://all-free-download.com/free-website-templates/'></a></div>

<script>
    async function fn(){
        const option={
                method:'GET'
            };

            const url="http://localhost:8080/customerinfo?id={{d}}";
            const res= await fetch(url,option);
            const myob= await res.json();
            console.log(myob);
            var p=document.createElement('p');
            p.innerHTML=myob[0].NAME
            document.getElementById('name').appendChild(p);

            document.getElementById('uid').value={{d}};

            

    }
    var m=fn();

</script>
</body>
</html>
