<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='l'> 
        
        

    </div>

    



  <script>
      //var[] dat= {{arr}}
      //console.log(dat);
      /*let a = `{{d.[0].FIRST_NAME}}`;

          console.log(a);
      
      for(let i=0;i<{{d.length}};i++){
          let a = `{{d.[${i}].FIRST_NAME}}`;

          console.log(a);
          
      }
      {{#each d}}
            <p>{{this.FIRST_NAME}}</p>
        {{/each}}
      
      
      
      */

            {{#each d}}
                var q=document.createElement('p');
                q.innerHTML= "<p>{{this.FIRST_NAME}}</p>";

                document.getElementById('l').appendChild(q);

            {{/each}};
        //var temp=Handlebars.compile(p);
        

      
      
      


  </script>  
</body>
</html>