

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>peekabook</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/prdet.css">

  </head>

  <body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
                        <h1>Details</h1>
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="css/images/book_new.png" /></div>

						  
						</div>
						
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title" id="bt">{{d.BOOK_NAME}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								
							</div>
							
						</div>
						<p class="product-description" id="bdes">description:
              <p>Genre: {{d.BOOK_GENRE}}</p>
              <p>Author: {{d.AUTHOR_NAME}}</p>
              <p>Publisher: {{d.PUBLISHER_NAME}}</p>
              <p>Summary: {{d.SUMMARY}}</p>

            </p>
						<h4 class="price">current price: <span id="bp">{{i.price}}</span></h4>
						
						
						
						<div class="action">

              <form action="http://localhost:8080/createorder" method="post">
      
                <input class="text" type="text" name="qntyty" placeholder="Quantity" required="">
                <input class="text" type="text" name="dist" placeholder="District" required="">
                <input class="text" type="text" name="thana" placeholder="Thana" required="">
                <input class="text" type="text" name="street" placeholder="Street" required="">
                <input class="text" type="text" name="pcode" placeholder="Postal code" required="">
                <input class="text" type="text" name="trn_id" placeholder="Transaction Id" required="">
                <br>
                <input type="submit" class="add-to-cart btn btn-default" value="confirm order">
                <input type="hidden" id="custId" name="uid" value="0000">
                <input type="hidden" id="bId" name="bid" value="{{i.bookid}}">
                <input type="hidden" id="shopId" name="sid" value="{{i.sid}}">
                <input type="hidden" id="price" name="price" value="{{i.price}}">

                
              </form>




							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script>
        /*async function fn(){
            const option={
                method:'GET'
            };
            const url="http://localhost:8080/bookdetail?bookid={{i.bookid}}";
            const res= await fetch(url,option);
            const myob= await res.json();
            //console.log(myob);
            let p=document.createElement('p');
            p.innerHTML=myob[0].name;
            document.getElementById('bt').appendChild(p);

            let q=document.createElement('p');
            q.innerHTML=myob[0].price;
            document.getElementById('bp').appendChild(q);
            document.getElementById('price').value=myob[0].price;
            
            let r=document.createElement('p');
            r.innerHTML=myob[0].genre;
            document.getElementById('bdes').appendChild(r);

            let s=document.createElement('p');
            s.innerHTML=myob[0].name;
            document.getElementById('bt').appendChild(s);

            
            

			
           


        } 
        var m=fn();*/
    </script>

  </body>
</html>
